.feedListItem{
    cursor: pointer;
    width: 25%;
}

.close{ 
    justify-content: right;
}

p {
    font-size: 17px;
}

.divStyle {
    background-color: #FFF;
    border: 1px solid #102542;
}

.marg {
    float: left;
}