.feedListItem{
    cursor: pointer;
    width: 25%;
    font-family: 'Roboto Condensed'
}

.close{ 
    justify-content: right;
}

p {
    font-size: 17px;
    font-family: 'Roboto Condensed'
}

.divStyle {
    background-color: #FFF;
    border: 1px solid #102542;
    font-family: 'Roboto Condensed'
}

.marg {
    float: left;
}