.Explore{
    margin-bottom: 10px;    
  }


  #svg {
      position: relative;
      display: inline-block;
      width: 110px;
      height: 25px;
      font-size: 1em;
      font-weight: bold;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
      cursor: pointer;
      text-decoration:none;
      font-family: 'Roboto', sans-serif;
      font-weight:900;
      font-size:17px;
      letter-spacing: 0.045em;
  }
  
  #svg svg {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  #svg svg rect {
      stroke: black;
      stroke-width: 3;
      stroke-dasharray: 353, 0;
      stroke-dashoffset: 0;
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease;
  }
  
  #svg .spanT{
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #svg:hover svg rect {
      stroke: yellow;
      stroke-width: 2;
      stroke-dasharray: 500, 543;
      stroke-dashoffset: 1000;
  }
  
  