@font-face{
    font-family:'Roboto Condensed';
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i') format('svg');
}
.jumbotron {
    background:
   /*linear-gradient(
        rgba(16, 37, 66, 0.45), 
        rgba(16, 37, 66, 0.45)
      ),*/
    url('https://cdn-images-1.medium.com/max/2600/1*PUb4Hkk--uJWCmIsrgw7rg.jpeg');
    height: 100%;
    margin-bottom: 20px;
    background-position: center;
}

.name {
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif
}