.navContainer{
    background-color: black;
    margin-bottom: 20px;
    color: white;
    justify-content: center;
    padding-left: 20px;
    height: 56px;
}

.navLink{
    color: white;
    
}
.navLink:hover{
    color:green;
    text-decoration: none;
}
