
@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?Roboto:400,500,700') format('svg');
}

#list{
    box-shadow: 5px 5px black;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Roboto';
    background-color: white;
}

#listStatic{
    box-shadow: 3px 3px black;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Roboto';
    min-height: 280px;
    max-width: 230px;
    max-height: 280px;
    background-color: white;
}

#listH{
    box-shadow: 3px 3px black;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Roboto';
    background-color: white;
}
#containerList{

}

#listH:hover{
    background-color:yellow;
}

#removelink{
    margin-left: 40px;
    
}

.removeButton {
    width: 10px;
}
.left{
    margin-left: 0px; 
}

body {
    background-color: #FCFCFC;

}

.ccontainHeight{
    min-height: 650px;
}